source https://nuget.org/api/v2

nuget FSharp.Core  redirects:force, content:none
nuget Fable.Core
nuget Fable.React 1.2.0-beta-003
nuget Fable.Elmish 1.0.0-beta-1
nuget Fable.PowerPack 1.3.0-beta-001

group Build
framework: net46

    source https://nuget.org/api/v2
    nuget FSharp.Core  redirects:force, content:none
    nuget FAKE
    nuget FSharp.Formatting

    github fsharp/FAKE modules/Octokit/Octokit.fsx
